# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/goodale-heads-up/node_modules
/goodale-heads-up/.pnp
/goodale-heads-up/.pnp.js

# testing
/goodale-heads-up/coverage

# production
/goodale-heads-up/build

# misc
/goodale-heads-up/.DS_Store
/goodale-heads-up/.env.local
/goodale-heads-up/.env.development.local
/goodale-heads-up/.env.test.local
/goodale-heads-up/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
