footer {
    width:100%;
    text-align: center;
    color: #fff;
    background-color: #474c9e;
    padding:1.5em 0;
}
footer a {
    padding: 0 10px;
    color: #fff;
}
footer p {
    margin-bottom: 0;
}
footer a:hover {
    color: #d9d9d9;
    text-decoration: none;
}